discourse:
  image: discourse
  container_name: discourse-web
  env_file:
    - .env
  ports:
    - "80:80"
  external_links:
    - "build_redis:redis"
    - "build_postgres:postgres"
  volumes:
    - ./uploads:/srv/discourse/public/uploads